<!DOCTYPE html>  
<html lang="en">  
{% load static %}  
  
<head>  
  <meta charset="UTF-8" />  
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />  
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/4.5.3/cerulean/bootstrap.min.css"  
    integrity="sha512-dQLT/B7byn2LjN/DN4zeBKpwGV6qbidV0XiMRWQOL7TGrV7FkZFldkGG+DGMU+CQnMTcRZlUI7GMWt1j6akNew=="  
    crossorigin="anonymous" />  
  <style>
    table {
      padding : 20px;
      border : 10px ;
      background-color: aliceblue;


    }
    th {
      padding : 30px;

    }
    tr {
      padding : 30px;
      
    }
    td {
      padding : 20px;
      
    }
    body {
      background-color: rgb(148, 205, 205);

    }
    h1 {
      color :black;
    }
  </style>
  <title>QUIZ APP</title>  
</head>  
  
<body >  
   
  <br /><br /> <br>  
  <div id="jumbotron" class="jumbotron" style="text-align: center; margin-top:-50px">  
    <h1 class="display-4">QUIZ App </h1>  
    <h5></h5>  
  </div>  
  
  
    <form method = "get">
    <h1>Select a Category</h1>
    <br></br>
    <div class="form-group">
      <label>Select</label>
      <select name="category" class="form-control">
        <option value ="Choose">choose</option>
        {% for category in categories %}
        <option value="{{category.category_name}}">{{category.category_name}}</option>
        {% endfor %}
      </select>
    </div>

    <button type ="submit" class="btn btn-danger mt-3">Submit</button>
  </form>
</body>  
  
</html>  